.nav{
    background-color: rgba(255, 33, 162, 0.404);
    margin-top: -35px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px rgba(255, 255, 255, 0.253);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.555);
}

.logoDiv{
    display: flex;
    align-items: center;
}

.logoDiv:hover{
    color:rgb(0, 255, 242); 
}

.title{
    color:white;
    padding-left: 20px;
    font-size: 31px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}

.title:hover{
    color:rgb(0, 255, 242);
}

.link{
    text-decoration: none;
}

.logo{
    height: 80px;
    width: 80px;
    padding-left: 10px;
}

.options{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.option{
    color: white;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.438) 1px 1px 1px;
}

.option:hover{
    color:rgb(0, 255, 242);
}