.nav{
    background-color: rgba(181, 108, 150, 0.404);
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.logoDiv{
    display: flex;
    align-items: center;
}

.logoDiv:hover{
    color:rgb(0, 255, 242); 
}

.title{
    color:white;
    padding-left: 20px;
    font-size: 31px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}

.title:hover{
    color:rgb(0, 255, 242);
}

.link{
    text-decoration: none;
}

.logo{
    height: 80px;
    width: 80px;
    padding-left: 10px;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2em;
}

.option{
    color: white;
    font-size: 1.5em;
    text-shadow: rgba(0, 0, 0, 0.438) 1px 1px 1px;
    padding-right: 2em;
}

.option:hover{
    color:rgb(0, 255, 242);
}